@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@font-face {
    font-family: got;
    src: url(resources/fonts/gotfont.ttf);
}

$m-font: "Roboto Slab", serif;
$h-font: "Got", serif;